#sideNotificationZone, .breakingNews, .earAdv, header, .midHeader,
.printIconWrap, .headBtnWrapper, .printedTopHeader,
div[id^="div-gpt-ad"], #ecoCalTabsMenu, .js-notification-bar,
#rightColumn, #footerWrapper,
.chatOuterWrapper, #theDisclaimer, .pageBottomButton{
    display: none !important;
}

#leftColumn{
    margin-top: -100px !important;
}

#economicCalendarForm {
    margin-top: -60px !important;
}

a[href ^= "/economic-calendar/nonfarm-payrolls"] {
    font-weight: bold !important;
}
